# Copy this file to .env and fill in the values
MONGODB_URI=mongodb+srv://doer1:pWX5cJkWRFTPd3P9@cluster0.r8r1otc.mongodb.net/vadwala-dham
JWT_SECRET=vadwala_dham_super_secret_jwt_key_2024
ADMIN_PASSWORD=admin123
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
